In [18]:
import pandas as pd

In [19]:
# CSVファイルを読み込み
df = pd.read_csv('../data/班分け結果_名前付き_R1_最終版.csv', header=0)
print(df.columns)
df.head()

Index(['班ID (R1)', '社員', 'メンバー1 ', 'メンバー2', 'メンバー3', 'メンバー4', 'メンバー5', 'メンバー6',
       'Unnamed: 8', 'SEC', 'SGC', 'SSS', 'SIE', '未定', '会社数'],
      dtype='object')

,班ID (R1),社員,メンバー1,メンバー2,メンバー3,メンバー4,メンバー5,メンバー6,Unnamed: 8,SEC,SGC,SSS,SIE,未定,会社数
0,R1-01,1,森大騎,鷹島愛里菜,西谷 真菜,藤森 涼太,大城 凜多郎,松崎碧海,NaN,2.0,1.0,2.0,1.0,0.0,4.0
1,R1-02,1,川島嵩之,角谷美里,藤田翔英,山岡 晃太朗,向田圭佑,田 安宜,NaN,2.0,1.0,2.0,1.0,0.0,4.0
2,R1-03,1,野田 萌々子,池本開,布部絢子,柳萌代,藤田晃成,鈴木海優,NaN,2.0,1.0,2.0,0.0,1.0,4.0
3,R1-04,1,岡田耕太郎,関口治希,涂夢蕊,平岡怜央,西村 雅貴,杉山夏菜,NaN,2.0,0.0,2.0,1.0,1.0,4.0
4,R1-05,1,竹内朝音,池田 悠登,泉水飛輪,美島賢人,鈴木 琢人,LEE SEUNGJUN,NaN,2.0,0.0,2.0,1.0,1.0,4.0

In [20]:
import pandas as pd
import pykakasi

# pykakasiの初期化
kks = pykakasi.kakasi()

def get_reading(text):
    """日本語テキストを読み仮名（ひらがな）に変換"""
    if pd.isna(text):
        return ''
    result = kks.convert(str(text))
    return ''.join([item['hira'] for item in result])

# R1用のメンバー列（メンバー6まで）
member_columns_r1 = ['メンバー1 ', 'メンバー2', 'メンバー3', 'メンバー4', 'メンバー5', 'メンバー6']

# R1のデータを集める
all_members_r1 = []
for col in member_columns_r1:
    if col in df.columns:
        temp_df = df[df[col].notna()][['班ID (R1)', col]].copy()
        temp_df.columns = ['班ID', 'メンバー名']
        all_members_r1.append(temp_df)

# R1を結合してソート
combined_r1 = pd.concat(all_members_r1, ignore_index=True)
combined_r1['読み仮名'] = combined_r1['メンバー名'].apply(get_reading)
combined_r1 = combined_r1.sort_values(by='読み仮名').reset_index(drop=True)
r1_df = combined_r1[combined_r1['班ID'].astype(str).str.startswith('R1')][['班ID', 'メンバー名']].reset_index(drop=True)

print("R1の班:")
print(r1_df)
r1_df.to_csv('../data/班分け結果_R1_名前付き_50音順.csv', index=False, encoding='utf-8-sig')

R1の班:
       班ID               メンバー名
0    R1-27          GU XIANGYU
1    R1-05        LEE SEUNGJUN
2    R1-13  taku130205@keio.jp
3    R1-25                髙橋　薫
4    R1-24               秋山 由洸
..     ...                 ...
187  R1-13                劉　蘇鵬
188  R1-18                若井大弥
189  R1-29               渡邉　遼真
190  R1-06                渡辺裕貴
191  R1-30                渡邉由寿

[192 rows x 2 columns]

In [36]:
# CSVファイルを読み込み
df = pd.read_csv('../data/班分け結果_名前付き_R2_最終版.csv', header=0
                )
print(df.columns)
df.head()

Index(['班ID (R2)', '会社', 'メンバー1', 'メンバー2', 'メンバー3', 'メンバー4', 'メンバー5', 'メンバー6',
       'メンバー7', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

,班ID (R2),会社,メンバー1,メンバー2,メンバー3,メンバー4,メンバー5,メンバー6,メンバー7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,R2-SEC1,SEC,森大騎,木内絢美,佐々木杏己,渡邉 遼真,泰間一輝,兼澤拓斗,尾﨑豊,NaN,NaN,NaN,NaN,NaN,NaN
1,R2-SEC2,SEC,川島嵩之,安部田聡菜,足羽瞳子,吉村 太一,山本弥貴,森本浩輔,松本麗央,NaN,NaN,NaN,NaN,NaN,NaN
2,R2-SEC3,SEC,野田 萌々子,山下修吾,谷口愛莉,平山賢,道信一樹,宮本岩麒,丸井櫻子,NaN,NaN,NaN,NaN,NaN,NaN
3,R2-SEC4,SEC,岡田耕太郎,吉本健義,林海歩,腰塚彩,神川大地,三宅 青司,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R2-SEC5,SEC,竹内朝音,村山のぞみ,中野 智康,寺島 日海,御任勇成,河野響己,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
import pandas as pd
import pykakasi

# pykakasiの初期化
kks = pykakasi.kakasi()

def get_reading(text):
    """日本語テキストを読み仮名（ひらがな）に変換"""
    if pd.isna(text):
        return ''
    result = kks.convert(str(text))
    return ''.join([item['hira'] for item in result])

# メンバー1〜6のデータを集める
member_columns_1to6 = ['メンバー1', 'メンバー2', 'メンバー3', 'メンバー4', 'メンバー5', 'メンバー6']

all_members_1to6 = []
for col in member_columns_1to6:
    temp_df = df[df[col].notna()][['班ID (R2)', col]].copy()
    temp_df.columns = ['班ID', 'メンバー名']
    all_members_1to6.append(temp_df)
    print(f"{col}: {len(temp_df)}件のデータを取得")

# メンバー1〜6を結合
combined_r2 = pd.concat(all_members_1to6, ignore_index=True)

# メンバー7が存在する場合は追加
if 'メンバー7' in df.columns:
    temp_df_7 = df[df['メンバー7'].notna()][['班ID (R2)', 'メンバー7']].copy()
    if len(temp_df_7) > 0:
        temp_df_7.columns = ['班ID', 'メンバー名']
        combined_r2 = pd.concat([combined_r2, temp_df_7], ignore_index=True)
        print(f"メンバー7: {len(temp_df_7)}件のデータを取得")
    else:
        print("メンバー7: データなし")
else:
    print("メンバー7: 列が存在しません")

# 読み仮名を追加して50音順にソート
combined_r2['読み仮名'] = combined_r2['メンバー名'].apply(get_reading)
combined_r2 = combined_r2.sort_values(by='読み仮名').reset_index(drop=True)

# R2のみをフィルタ
r2_df = combined_r2[combined_r2['班ID'].astype(str).str.startswith('R2')][['班ID', 'メンバー名']].reset_index(drop=True)

print("\nR2の班:")
print(r2_df)
print(f"\n合計: {len(r2_df)}名")
r2_df.to_csv('../data/班分け結果_R2_名前付き_50音順.csv', index=False, encoding='utf-8-sig')

メンバー1: 31件のデータを取得
メンバー2: 31件のデータを取得
メンバー3: 31件のデータを取得
メンバー4: 31件のデータを取得
メンバー5: 31件のデータを取得
メンバー6: 30件のデータを取得
メンバー7: 7件のデータを取得

R2の班:
          班ID               メンバー名
0     R2-SSS1          GU XIANGYU
1      R2-未定2        LEE SEUNGJUN
2    R2-SSS10  taku130205@keio.jp
3     R2-SEC6                髙橋　薫
4     R2-SSS7               秋山 由洸
..        ...                 ...
187   R2-SSS6                劉　蘇鵬
188  R2-SSS11                若井大弥
189   R2-SEC1               渡邉　遼真
190   R2-SIE3                渡辺裕貴
191   R2-SSS4                渡邉由寿

[192 rows x 2 columns]

合計: 192名