In [1]:
import pandas as pd

In [2]:
# CSVファイルを読み込み
df_班分け = pd.read_csv('../data/班分け結果.csv', header=1)
df_班分け.head()

,班ID (R1),社員,メンバー1,メンバー2,メンバー3,メンバー4,メンバー5,メンバー6,Unnamed: 8,SEC,SGC,SSS,SIE,未定,会社数
0,R1-01,1,SEC_社員_01,SEC_内定者_44,SGC_内定者_01,SSS_内定者_42,SSS_内定者_68,SIE_内定者_07,NaN,2.0,1.0,2.0,1.0,0.0,4.0
1,R1-02,1,SEC_社員_02,SEC_内定者_45,SGC_内定者_02,SSS_内定者_43,SSS_内定者_69,SIE_内定者_08,NaN,2.0,1.0,2.0,1.0,0.0,4.0
2,R1-03,1,SEC_社員_03,SEC_内定者_46,SGC_内定者_03,SSS_内定者_07,SSS_内定者_44,未定_内定者_06,NaN,2.0,1.0,2.0,0.0,1.0,4.0
3,R1-04,1,SEC_社員_04,SEC_内定者_47,SSS_内定者_08,SSS_内定者_45,SIE_内定者_09,未定_内定者_07,NaN,2.0,0.0,2.0,1.0,1.0,4.0
4,R1-05,1,SEC_社員_05,SEC_内定者_48,SSS_内定者_09,SSS_内定者_46,SIE_内定者_10,未定_内定者_08,NaN,2.0,0.0,2.0,1.0,1.0,4.0

In [3]:
# 別のDataFrame（名前マッピング用）を読み込む
# ここでは仮のファイルパスを使用していますが、実際のファイルパスに変更してください
df_名前マッピング = pd.read_csv('../data/名簿一覧_Bridge_ID割当済_最終版.csv')  # 実際のファイル名に変更

# Bridge IDから名前へのマッピング辞書を作成
# df_名前マッピングには「新Bridge ID」と「お名前(漢字)」の列があると仮定
bridge_id_to_name = dict(zip(df_名前マッピング['新Bridge ID'], df_名前マッピング['お名前(漢字)']))

# メンバー列を特定（メンバー1からメンバー7まで）
member_columns = ['メンバー1', 'メンバー2', 'メンバー3', 'メンバー4', 'メンバー5', 'メンバー6', 'メンバー7']

# 存在する列だけを対象にする（メンバー1 に空白があるので注意）
#existing_member_columns = [col for col in df_班分け.columns if 'メンバー' in col]

# 各メンバー列のBridge IDを名前に置き換え
for col in df_班分け.columns:
    df_班分け[col] = df_班分け[col].map(bridge_id_to_name).fillna(df_班分け[col])

# 結果を新しいCSVファイルに保存
df_班分け.to_csv('../data/班分け結果_名前付き_最終版.csv', index=False, encoding='utf-8-sig')

print("Bridge IDを名前に置き換えました。")

Bridge IDを名前に置き換えました。

/var/folders/5j/kl_x9gzd7yvc2rgdcgpd5gvh0000gn/T/ipykernel_98023/229090091.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_班分け[col] = df_班分け[col].map(bridge_id_to_name).fillna(df_班分け[col])
/var/folders/5j/kl_x9gzd7yvc2rgdcgpd5gvh0000gn/T/ipykernel_98023/229090091.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_班分け[col] = df_班分け[col].map(bridge_id_to_name).fillna(df_班分け[col])
/var/folders/5j/kl_x9gzd7yvc2rgdcgpd5gvh0000gn/T/ipykernel_98023/229090091.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_班分け[col] = df_班分け[col].map(bridge_id_to_name).fillna(df_班分け[col])
/var/folders/5j/kl_x9gzd7yvc2rgdcgpd5gvh0000gn/T/ipykernel_98023/229090091.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_班分け[col] = df_班分け[col].map(bridge_id_to_name).fillna(df_班分け[col])
/var/folders/5j/kl_x9gzd7yvc2rgdcgpd5gvh0000gn/T/ipykernel_98023/229090091.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_班分け[col] = df_班分け[col].map(bridge_id_to_name).fillna(df_班分け[col])
/var/folders/5j/kl_x9gzd7yvc2rgdcgpd5gvh0000gn/T/ipykernel_98023/229090091.py:17: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_班分け[col] = df_班分け[col].map(bridge_id_to_name).fillna(df_班分け[col])